nav(class='nav', role='navigation')
    div.nav-wrapper
        a(class='left button-collapse', href='#!', id='fake-menu')
            i.material-icons menu
        a(data-target='slide-out', class='sidenav-trigger', href='#!' id='real-menu')
        a.brand-logo(class='center') PSV CRIME MANAGEMENT SYSTEM
        if $user !== undefined && $user !== null
            ul.right.hide-on-med-and-down
                li
                    strong= 'Logged in as '+ $user.officernumber

    ul.sidenav(id='slide-out')
        lig
            div
                h1 PCMS
        div.divider
        li(class='_nav-item')
            a(href='/', class='_nav-link') Home
        if $user === undefined || $user === null
            li(class='_nav-item')
                a(href='/auth', class='_nav-link') Login
        else
            li(class='_nav-item')
                a(href='/vehicles', class='_nav-link') Vehicles
            li(class='_nav-item')
                a(href='/cases', class='_nav-link') Cases
            li(class='_nav-item')
                a(href='/drivers', class='_nav-link') Drivers
            li(class='_nav-item')
                a(href='/notifications', class='_nav-link') Notifications
        if $user && $user.admin
            li._nav-item
                a._nav-link(href='/users') Officers
        if $user
            li._nav-item
                a._nav-link(href='/logout') Logout

