extends layout
block content
  include includes/nav
  div._container.center
      div._form(class='center')
          div._form-header
              h4 Officer Login
          form(method='post', action='/auth')
              div._form-body
                  if error
                      p._text-danger= error
                  h3._label Officer Number
                  input._form-input.center(type='text', name='officernumber'  required, placeholder='Officer number')
                  h3._label Password
                  input._form-input.center(type='password', name='password' id='password', required)
              div._action
                  button._action-btn(id='login-btn', class='btn') Login


