extends layout
block content
    include includes/nav
    div._container
        div._form
            div._form-header
                h2 Register New Case
            form(action='new-case', method='post')
                div._form-body
                    h3._label Case Reference Number
                    input._form-input(type='text', name='casenumber', placeholder='Reference number', required)
                    h3._label Vehicle Involved (Serial Number)
                    input._form-input(type='text', name='serial', placeholder='Vehicle Serial Number', required)
                    h3._label Description
                    textarea._form-input( name='description', required)
                    h3._label Level
                    select._form-input(name='level', required)
                        option(value='1') Level 1
                        option(value='2') Level 2
                        option(value='3') Level 3
                        option(value='4') Level 4
                        option(value='5') Level 5
                    h3._label Route
                    input._form-input(type='text', name='route' required, placeholder='E.g Kisumu - Nairobi')
                    input._form-input(type='text', name='officernumber', required, value=$user.officernumber, hidden)
                div._action
                    button._action-btn Record Case
