extends layout
block content
    include includes/nav
    div._container
        h5 System Reports
        div(id='cases')
        script(src='https://www.gstatic.com/charts/loader.js')
        script(src='/materialize/js/reports.js')





